{% extends "layout.html" %}

{% block css %}

{% endblock %}

{% block content %}

<body>

    <div class="card mb-2 mx-auto">

        <div class="card-body p-3" style="background-color: whitesmoke;">
            <div class="d-flex flex-row">
                <div class="col-3 px-0 my-auto text-center">
                    <img src=/{{data.filename}} class="shadow-lg rounded-circle" style="height: 3.3rem;" alt="pic1">
                </div>
                <div class="col-4 my-auto text-dark">{{ data.name }}</div>
                <div class="col-5 d-flex flex-column  my-auto" style="font-size: .7rem;">
                    <span class="text-secondary pl-1">曜日：{{ data.day }}</span>
                    <span class="text-secondary pl-1">時間：{{ data.date }}</span>
                    <span class="text-secondary pl-1">場所：{{ data.place }}</span>
                </div>
            </div>
        </div>

    </div>

    <form class="login_bottom" action="/chat/{{data.rid}}" method="post">
        <input type="text" id="text" name="text" placeholder="入力.." required>
        <button class="btn2" type="submit">送信</button>
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script type="text/javascript">
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        socket.on('connect', function () {
            socket.emit('my event', {
                data: 'User Connected'
            })
            var form = $('form').on('submit', function (e) {
                e.preventDefault()
                let user_name = $('input.username').val()
                let user_input = $('input.message').val()
                socket.emit('my event', {
                    user_name: user_name,
                    message: user_input
                })
                $('input.message').val('').focus()
            })
        })
        socket.on('my response', function (msg) {
            console.log(msg)
            if (typeof msg.user_name !== 'undefined') {
                $('h3').remove()
                $('div.message_holder').append('<div><b style="color: #000">' + msg.user_name + '</b> ' + msg
                    .message +
                    '</div>')
            }
        })
    </script>

</body>

{% endblock content %}