
<head>

<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!-- Favicons -->
<link rel="icon" href="{{ url_for('static', filename='preshot_img/preshot-logo03.png') }}">
<link rel="apple-touch-icon" href="{{ url_for('static', filename='preshot_img/preshot-logo03.png') }}">
<style>
    .bg-preshot{
        background-color: #FF514D;
    }
    .text-preshot{
        color: #FF514D;
    }        
    .form-control::placeholder{
        color: #FF514D;
    }
    .btn{
        font-size: 3em;
        font-weight: 700;
    }
</style>

<title>Preshot/Register</title>

</head>

{% extends "layout2.html" %}

{% block css %}

{% endblock %}

{% block content %}

<body>

    <div class="container pb-5">
        <div id="messages">

        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
    currentPage = 0;
    $(document).ready(function () {

        //////////////////////////
        // Socket.IO client API //
        //////////////////////////

        socket = io();

        // Connect, then join room (should already be in session Flask-side)
        socket.on('connect', function () {
            socket.emit('joined', {});
        });

        // Once connected, do the first message load
        socket.on('join', function () {
            socket.emit('loaded', {page: currentPage});
            currentPage++;
        });

        // receiving messages from server, then render
        socket.on('message', function (data) {
            $('#messages').append(writeMessage(data.message));
        });

        // receiving bulk message loads from server, then render
        socket.on('load', function (data) {
            messagesHTML = ""; 
            messages = data['messages'];
                for (i = 0; i < messages.length; i++) {
                    // needs to be done in reverse order, as chat is older at the top
                    messagesHTML = writeMessage(messages[i]) + messagesHTML;
                }
                $('#messages').prepend(messagesHTML);
        });

        ///////////////////////////
        // JQuery input handling //
        ///////////////////////////

        // press enter to send message
        $('#text').keypress(function (e) {
            var code = e.keyCode || e.which;
            if (code == 13) {
                sendMessage();
            }
        });

        // press Send button to send message
        $('#send').on('click', function () {
            sendMessage();
        });

        // infinite scrolling messages
        $('#messages').bind('scroll', function () {
            // checks if the messages div is scrolled to top - 300 pixels
            if ($('#messages').scrollTop() <= $('#messages')[0].scrollHeight + 300) {
                socket.emit('loaded', {page: currentPage});
                currentPage++;
            }
        });

        //////////////////////
        // helper functions //
        //////////////////////

        // pure function that generates the message text based on the Message object generated.
        function writeMessage (m) {
            //TODO: Please figure out what HTML/CSS works to make the chat look the way we want!
            // this code should generally be adding together <div>, <p>, and <a> tags with data. 
            if (!!m.message.trim()) {
                return "" //nothing in msg, don't try to render
            }
            let author = (m.is_mentor ? "mentor" : "student");
            html = [
                '<div class="' + author + '_chatbox">',
                '<p class="' + author + '">',
                m.message,
                '</p>',
                '</div>'
            ]
            return html.join("\n");
        }
        
        // function that abstracts the sending of messages via Socket.IO
        function sendMessage () {
            text = $('#text').val();
            if (!!text.trim()) {
                return "" //nothing in text, don't try to send
            }
            $('#text').val('');
            socket.emit('messaged', {
                message: text
            });
        }
    });
    </script>

</body>

{% endblock content %}