{% extends "layout.html" %} 

{% block css %}
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">  -->
{% endblock %} 

{% block content %}
<body>
    
    <h3 id="me" user_id="1">{{data.mentor_name}}</h3>
    {{data.date}}
    {{data.day}}
    {{data.place}}
    {{data.rid}}
    {% if data.messages %}
    {% for message in data.messages %}
    <br>
    {{message.message}}
    {% endfor %}
    {% endif %}


    <form class="login_bottom" action="/chat/{{data.rid}}" method="post">
        <input type="text" id="text" name="text" placeholder="入力.." required>    
        <button class="btn2" type="submit">送信</button>
    </form>

</body>

{% endblock content %} 