{% extends "layout.html" %} 

{% block content %}
<!-- Contact Card ~ #01 -->
<div>
    <div>

        <div>
            <p> {{ post.pid }}</p>
            <p >{{ post.title }}</p>
            <p >{{ post.text }}</p>
        </div>

        {% if post.response %}
    
        {% for mentor in post.response %}

            <div class="card">
                <p >{{ mentor.name }}</p>
                <img src=/{{mentor.filename}} alt="pic1">
                <a href="/select_mentor/{{mentor.mid}}">See this mentor</a>
            </div>

        {% endfor %}

        {% else %}
            <h2>No Response</h2>
        {% endif %}
        
    </div>
</div>

{% endblock content %} 