{% extends "layout.html" %} 

{% block content %}
<!-- Contact Card ~ #01 -->
<div>
    <div>
        <div class="bg-preshot" style="border-bottom-left-radius: .5rem; border-bottom-right-radius: .5rem;">
            <div class="container pb-4">
                <div class="card mx-auto shadow" style="border-radius: .5rem;" id={{post.pid}}　>
                    <div class="card-body">
                        <h6 class="card-title" style="color: black;">{{ post.title }}</h6>
                        <p class="card-text text-muted" style="font-size: small;">{{ post.text }}</p>
                    </div>
                </div>
            </div>
        </div>

        <nav class="navbar">

            <nav class="navbar preshot-color pl-3">
                <span class="navbar-brand fas fa-comment nav-top-item p-0 text-secondary" style="font-size: 25px;"></span>
            </nav>
            
        </nav>
        

        {% if post.response %}
    
        {% for mentor in post.response %}

            <div class="card">
                <p >{{ mentor.name }}</p>
                <img src=/{{mentor.filename}} alt="pic1">
                <a href="/select_mentor/{{mentor.mid}}">See this mentor</a>
            </div>
            

        {% endfor %}

        {% else %}
            <h2>No Response</h2>
        {% endif %}
        
    </div>
</div>

{% endblock content %} 