{% extends "layout.html" %} 

{% block content %}
<!-- Contact Card ~ #01 -->
<div>
    <div>
        <div class="bg-preshot" style="border-bottom-left-radius: .5rem; border-bottom-right-radius: .5rem;">
            <div class="container pb-4">
                <div class="card mx-auto shadow" style="border-radius: .5rem;" id={{post.pid}}　>
                    <div class="card-body">
                        <h6 class="card-title" style="color: black;">{{ post.title }}</h6>
                        <p class="card-text text-muted" style="font-size: small;">{{ post.text }}</p>
                    </div>
                </div>
            </div>
        </div>

        <nav class="navbar border-bottom">

            <nav class="navbar preshot-color pl-3">
                <span class="navbar-brand fas fa-comment nav-top-item p-0" style="color:#778899; font-size: 25px;"></span>
            </nav>
            
        </nav>
        

        {% if post.response %}
    
        {% for mentor in post.response %}

        <div class="d-flex flex-row border-bottom" style="background-color: #f5f5f5; border-color:gray;">

            <div class="w-25 text-center">
                <img src=/{{mentor.filename}} class="rounded-circle my-2" style="height: 50px;" alt="pic1">
            </div>
            <div class="my-auto" style="width: 45%;">
                <p class="font-weight-bold mb-0">{{ mentor.name }}</p>
            </div>
            <div class="my-auto">
                <a href="/select_mentor/{{mentor.mid}}" class="font-weight-bolder btn bg-preshot rounded-pill" style="color:#f5f5f5; font-size:12px; padding: 0.3rem .6rem;" role="button">連絡してみる</a>
            </div>
            
        </div>
            
            
            

        {% endfor %}

        {% else %}
        
        <div class="text-secondary text-center mt-3">メンターが見つかっていません</div>
        
        {% endif %}
        
    </div>
</div>

{% endblock content %} 