<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Preshot : 新しい面接対策</title>

        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/introduction/bootstrap.min.css') }}">-->

    </head>

    <body>
        <h1> Preshot </h1>
        <a href="/register"><span>就活生はこちら</span></a>
        <a href="/upload"><span>内定者はこちら</span></a>

        <!-- Custom js 
        <script type="text/javascript" 　src="{{ url_for('static', filename='js/introduction/custom.js') }}"></script>
        -->
        
    </body>

</html>
