{% extends "mentor_layout.html" %} 

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}"> 
{% endblock %}

{% block title %}
<title>Preshot/Profile</title>
{% endblock %} 

{% block content %}

<div>
    <div>
        <div>
            <p> 現在のemail - {{ data["email"] }}</p>
            <p> 現在のname - {{ data["name"] }}</p>
            <p> 現在のfilename - {{ data["filename"] }}</p>
            <p> 現在のfaculty - {{ data["faculty"] }}</p>
            <p> 現在のposition - {{ data["position"] }}</p>
            <p> 現在のcomment - {{ data["comment"] }}</p>
            <p> 現在のgraduation- {{ data["graduation"] }}</p>
            
        </div>
        <div>
            <p> 現在のパスワード - {{ data["password"] }}</p>
        </div>
        <div>
            <a href="/mentor_delete"> delete</a>
        </div>
    </div>
</div>

{% endblock content %} 