{% extends "mentor_layout.html" %} 

{% block css %}
<style>
    .bg-preshot{
        background-color: #FF514D;
    }
    body{ 
        padding-top: 60px;
    }
    .form-control::placeholder{
        color: #dcdcdc;
    }
    .text-whitesmoke{
        color: #dcdcdc;
    }
    .bg-whitesmoke{
        background-color: whitesmoke;
    }
</style>
{% endblock %} 

{% block title %}
<title>Preshot/Mentor</title>
{% endblock %} 

<!-- 
    返しているJson
    data = {
    "name": mentor.name,
    "filename": mentor.filename,
    "university": mentor.university,
    "faculty": mentor.faculty,
    "firm": mentor.firm,
    "graduation": mentor.graduation,
    "position": mentor.position,
    "history": mentor.history,
    "comment": mentor.comment
} -->

{% block content %}
<div class="container my-3 pb-5">
    <div class="container">
        <div class="d-flex justify-content-center login_container mt-1"></div>
        <div class="d-flex justify-content-center login_container mt-3">
            <button type="submit" class="btn btn-group-lg bg-preshot btn-block text-white" style="height: 40px;" style="font-size: .9rem;" onclick="location.href='./mentor_profile_view'">自分のプロフィールを確認する</button>
        </div>
        <div class="d-flex justify-content-center login_container mt-4"></div>

        <form action="/mentor_profile" method="POST" enctype="multipart/form-data" novalidate>

            <div class="form-group">
                <label for="text" class="col-form-label">名前 :</label>
                {{ data.name }} 
                <input id="name" name="name" placeholder="就活太郎" class="form-control here border-0 bg-whitesmoke" required="required" type="text">
            </div>

            <div class="form-group">
                <label for="text" class="col-form-label">企業 :</label> 
                {{ data.firm }}
                <div>
                    <input id="firm" name="firm" placeholder="株式会社preshot" class="form-control here border-0 bg-whitesmoke" required="required" type="text">
                </div>
            </div>

            <div class="form-group">
                <label for="text" class="col-form-label">職種 :</label> 
                {{ data.position }}
                <input id="position" name="position" placeholder="データアナリスト" class="form-control here border-0 bg-whitesmoke" required="required" type="text">
            </div>

            <div class="form-group">
                <label for="text" class="col-form-label">大学 :</label> 
                {{ data.university }}
                <input id="university" name="university" placeholder="選考大学" class="form-control here border-0 bg-whitesmoke" required="required" type="text">
            </div>

            <div class="form-group">
                <label for="text" class="col-form-label">学部 :</label> 
                {{ data.faculty }}
                <input name="faculty" id="faculty" placeholder="対策学部" class="form-control here border-0 bg-whitesmoke" required="required" type="text">
            </div>

            <div class="form-group">
                <label for="text" class="col-form-label">卒業年度 :</label> 
                {{ data.graduation }}
                <input name="graduation" id="graduation" placeholder="2020卒" class="form-control here border-0 bg-whitesmoke" required="required" type="number">
            </div>

            <div class="form-group">
                <label for="text" class="col-form-label">経歴 :</label>
                <textarea id="history" name="history" placeholder="Preshot開発インターン" class="form-control here border-0 bg-whitesmoke" cols="40" rows="6.5" required="required" type="text">{{ data.history }}</textarea>
            </div>

            <div class="form-group">
                <div class="custom-file">写真を選択 :
                    <img src=/{{data.filename}} class="rounded-circle my-2" style="height: 50px;" alt="pic1">
                    <input type="file" class="custome-file-input" name="image" id="image"  />
                </div>
            </div>

            <div class="form-group">
                <label for="text" class="col-form-label">コメント :</label>
                <textarea id="comment" name="comment" placeholder="よろしくお願いします" class="form-control here border-0 bg-whitesmoke" cols="40" rows="6.5" required="required" type="text">{{ data.comment }}</textarea>
            </div>

            <div class="form-group d-flex justify-content-center mt-5 mb-5">
                <button type="submit" class="btn btn-group-lg bg-preshot shadow btn-block text-white" style="height: 40px;">保存</button>
            </div>


        </form>

    </div>
    
</div>

{% endblock content %} 