{% extends "mentor_layout.html" %} 

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/upload.css') }}"> 
{% endblock %} 

{% block title %}
<title>Preshot/Mentor</title>
{% endblock %} 

{% block content %}
<div class="upload">
    <form action="/mentor_profile" method="POST" enctype="multipart/form-data">
        <div class="upload-area">
            <div class="upload-container">

                <p class="status">名前
                    <br> <input placeholder="-" name="name" id="name" type="text">
                </p>

                <p class="status">大学
                    <br><input placeholder="-" type="text" id="university" name="university">
                </p>

                <p class="status">学部
                    <br> <input placeholder="-" name="faculty" id="faculty" type="text">
                </p>

                <p class="status">企業
                    <br><input placeholder="-" type="text" id="firm" name="firm">
                </p>

                <p class="status">卒業年度
                    <br> <input placeholder="-" name="graduation" id="graduation" type="number">
                </p>

                <p class="status">職種
                    <br><input placeholder="-" type="text" id="position" name="position">
                </p>

                <p class="status">経歴
                    <br><input placeholder="-" type="text" id="history" name="history">
                </p>

                <p class="status">コメント
                    <br><input placeholder="-" type="text" id="comment" name="comment">
                </p>

                <div class="form-group">
                    <label for="text" class="col-form-label">プロフィール写真を選択してください</label> 
                    <input type="file" class="form-control-file" name="image" id="image">
                </div>


                <button class="btn submit" type="submit">送信</button>
            </div>
        </div>
    </form>


</div>

{% endblock content %} 