{% extends "mentor_layout.html" %} 

{% block css %}

{% endblock %} 

{% block content %}
<body>

    <div class="card mb-2 mx-auto">
                
        <div class="card-body p-3" style="background-color: whitesmoke;">
            <div class="d-flex flex-row">
                <div class="col-8 my-auto text-dark">{{ data.name }}</div>
                <div class="col-5 d-flex flex-column  my-auto" style="font-size: .7rem;">
                    <span class="text-secondary pl-1">曜日：{{ data.day }}</span>
                    <span class="text-secondary pl-1">時間：{{ data.date }}</span>
                    <span class="text-secondary pl-1">場所：{{ data.place }}</span>
                </div>
            </div>
        </div>
        
    </div>

    <form class="login_bottom" action="/chat/{{data.rid}}" method="post">
        <input type="text" id="text" name="text" placeholder="入力.." required>    
        <button class="btn2" type="submit">送信</button>
    </form>

</body>

{% endblock content %} 