<div class="card-list">

    <!-- Contact Card ~ #01 -->
    {% if posts %}
    
        {% for post in posts %}

            <div class="card" id={{post.pid}}>
                <h1>{{ post.title }}</h1>
                <h3>{{ post.text }}</h3>
                <a href="/mentor_home/{{post.pid}}">See more</a>
            </div>

        {% endfor %}
        {% if prev_url %}
            <a href="{{ prev_url }}">Newer posts</a>
        {% endif %}
        {% if next_url %}
            <a href="{{ next_url }}">Older posts</a>
        {% endif %}

    {% else %}
        <h2>No files</h2>
    {% endif %}

</div>