{% extends "mentor_layout.html" %} 

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}"> 
{% endblock %}

{% block title %}
<title>Preshot/Profile</title>
{% endblock %} 

{% block content %}

<div>
    <div>
        <div>
            <p> 現在のemail - {{ data["email"] }}</p>
        </div>
        <div>
            <p> 現在のパスワード - {{ data["password"] }}</p>
        </div>
        <div>
            <a href="/mentor_delete"> delete</a>
        </div>
    </div>
</div>

{% endblock content %} 