{% extends "layout.html" %} 

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/upload.css') }}"> 
{% endblock %} 

{% block title %}
<title>Preshot/Upload</title>
{% endblock %} 

{% block content %}

{% for schedule in schedules %}

<div class="card" id={{schedule.pid}}>
    <h1>{{ schedule.day }}</h1>
    <h3>{{ schedule.date }}</h3>
    <h3>{{ schedule.place }}</h3>
    <a href="/mentor_schedule_delete/{{schedule.sid}}">Delete</a>
</div>

{% endfor %}

<div class="upload">
    <form action="/mentor_schedule" method="POST" enctype="multipart/form-data">
        <div class="upload-area">
            <div class="upload-container">

                <p class="status">Day
                    <br> <input placeholder="火曜日" name="day" id="day" type="text" required>
                </p>

                <p class="status">Date
                    <br><input placeholder="4/11" type="text" id="date" name="date" required>
                </p>

                <p class="status">Place
                    <br><input placeholder="日吉駅" type="text" id="place" name="place" required>
                </p>

                <button class="btn submit" type="submit">送信</button>
            </div>
        </div>
    </form>


</div>
{% endblock content %} 
