{% extends "mentor_layout.html" %} 

{% block css %}
<style>
    .form-control::placeholder{
        color: #dcdcdc;
    }

</style>
{% endblock %} 

{% block title %}
<title>Preshot/Upload</title>
{% endblock %} 


{% block content %}


<div class="container mt-5">
    <div class="container">

        <div class="text-center">
            <h6>スケジュールを追加</h6>
        </div>

        <form action="/mentor_schedule" method="POST" enctype="multipart/form-data">

            <div class="form-group">
                <label for="text" class="col-form-label">曜日</label> 
                <input id="day" name="day" placeholder="火曜日" class="text-muted form-control here border-0" style="background-color: whitesmoke;" required="required" type="text" required>
            </div>

            <div class="form-group">
                <label for="text" class="col-form-label">時間</label> 
                <div>
                    <input id="date" name="date" placeholder="12:00~" class="form-control here border-0" style="background-color: whitesmoke;" required="required" type="text" required>
                </div>
            </div>

            <div class="form-grou mb-4 pb-2">
                <label for="text" class="col-form-label">場所</label> 
                <input id="place" name="place" placeholder="東京駅" class="form-control here border-0" style="background-color: whitesmoke;" required="required" type="text" required>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-group-lg bg-preshot shadow btn-block text-white" style="height: 40px;">追加する</button>
            </div>


        </form>

    </div>
    

    <div class="card-list my-5">

        {% for schedule in schedules %}
    
        <div class="card mb-2 mx-auto shadow" id={{schedule.sid}}>
                        
            <div class="d-flex flex-row p-3">
                <div class="col-3 d-flex flex-column px-0 my-auto text-center">
                    <span class="text-dark float-left">{{ schedule.day }}</span>
                    <span class="text-dark float-left text-muted" style="font-size: .8rem;">{{ schedule.date }}</span>
                </div>
                <div class="col-6 text-center my-auto text-dark">{{ schedule.place }}</div>
                <div class="col-3 d-flex align-items-center" style="font-size: .7rem;">
                    <div class="mx-auto">
                        <a href="/mentor_schedule_delete/{{schedule.sid}}">
                            <i class="far fa-trash-alt text-preshot h4 mb-0"></i>
                        </a>    
                    </div>
                </div>
            </div>

        </div>

        {% endfor %}

    </div>

</div>

{% endblock content %} 
