{% extends "layout.html" %} 

{% block css %}
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/employee.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}"> -->
<style>

</style>
{% endblock %}

{% block title %}
<title>Preshot/Employee</title>
{% endblock %} 

{% block content %}

<div class="container">
    <div class="card-list">

        <!-- Contact Card ~ #01 -->
        {% if posts %}
        
        {% for post in posts %}

            <div class="card my-3 mx-auto shadow" id={{post.pid}}　>
                <a  href="/mypost/{{post.pid}}" class="card-body">
                    <h6 class="card-title" style="color: black;">{{ post.title }}</h6>
                    <p class="card-text text-muted" style="font-size: small;">{{ post.text }}</p>
                    
                </a>
            </div>

        {% endfor %}

        {% else %}
            <h2>投稿がありません</h2>
        {% endif %}

        <div style="height: 57px;"></div>

    </div>
</div>

{% endblock content %}