{% extends "layout.html" %} 


{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/upload.css') }}"> 
<style>
    .form-control::placeholder{
        color: gray;
    }
</style>
{% endblock %} 

{% block title %}
<title>Preshot/Upload</title>
{% endblock %} 

{% block content %}

<div class="container mt-4">

    <form action="/post" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="text" class="col-form-label">投稿タイトル</label> 
            <div>
                <input id="title" name="title" placeholder="タイトルを入力" class="form-control here" required="required" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label for="textarea" class="col-form-label">聞きたい内容</label> 
            <div>
                <textarea id="text" name="text" type="text" placeholder="聞きたい内容を入力" cols="40" rows="7.5" class="form-control" required></textarea>
            </div>
            <div class="d-flex justify-content-center login_container">
                <button type="submit" class="btn btn-group-lg bg-preshot btn-block rounded-pill" style="height: 40px;">投稿</button>
            </div>
        </div> 
    </form>
    
</div>
{% endblock content %} 
