{% extends "layout.html" %} 

{% block content %}
<!-- Contact Card ~ #01 -->
<div class="container">
    <div>
        <div class="card my-3 mx-auto shadow">
            <div class="card-body">
                
                <div class="d-flex flex-row">


                    <div class="pr-3">
                        <img src=/{{mentor.filename}} class="rounded-circle" style="height: 50px;" alt="pic1">
                    </div>
                    <div class="my-auto" style="width: 45%;">
                        <p class="font-weight-bold mb-0">{{ mentor.name }}</p>
                    </div>
                    
                </div>

                
                <div class="py-3">
                    <p class="card-text" style="font-size: small; color:#b0c4de;">{{ mentor.comment }}</p>
                </div>

                <div>
                    <div style="margin-left:4rem;">
                        <div><i class="fas fa-comment mr-3" style="color:#a9a9a9; font-size: 1em;"></i>
                            <span style="color:#808080;">{{ mentor.firm }}</span>
                        </div>
                        <div><i class="fas fa-comment mr-3" style="color:#a9a9a9; font-size: 1em;"></i>
                            <span style="color:#808080;">{{ mentor.university }}</span>
                        </div>
                        <div><i class="fas fa-comment mr-3" style="color:#a9a9a9; font-size: 1em;"></i>
                            <span style="color:#808080;">{{ mentor.faculty }}</span>
                        </div>
                        <div><i class="fas fa-comment mr-3" style="color:#a9a9a9; font-size: 1em;"></i>
                            <span style="color:#808080;">{{ mentor.graduation }}</span>
                        </div>
                    </div>
                </div>
                

            </div>

        </div>


        {% if mentor.schedule %}
    
        {% for schedule in mentor.schedule %}

            <div class="card" id={{schedule.sid}}>
                <p >{{ schedule.day }}</p>
                <p >{{ schedule.date }}</p>
                <p >{{ schedule.place }}</p>
                <a href="/reservation/{{schedule.sid}}">See this Reservation</a>
            </div>

        {% endfor %}

        {% else %}
            <h2>No Schedule</h2>
        {% endif %}
        
    </div>
</div>

{% endblock content %} 