{% extends "layout.html" %} 

{% block content %}
<!-- Contact Card ~ #01 -->
<div class="container">
    <div>
        <div class="card my-3 mx-auto shadow">
            <div class="card-body">
                
                <div class="d-flex flex-row">
                    <div class="pr-3">
                        <img src=/{{mentor.filename}} class="rounded-circle" style="height: 50px;" alt="pic1">
                    </div>
                    <div class="my-auto" style="width: 45%;">
                        <p class="font-weight-bold mb-0">{{ mentor.name }}</p>
                    </div>                   
                </div>
                
                <div class="py-3">
                    <p class="card-text" style="font-size: small; color:#778899;">{{ mentor.comment }}</p>
                </div>

                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <div><i class="fas fa-comment mr-3" style="color:#a9a9a9; font-size: 1em;"></i>
                            <span style="color:#808080;">{{ mentor.firm }}</span>
                        </div>
                        <div><i class="fas fa-comment mr-3" style="color:#a9a9a9; font-size: 1em;"></i>
                            <span style="color:#808080;">{{ mentor.position }}</span>
                        </div>
                        <div><i class="fas fa-comment mr-3" style="color:#a9a9a9; font-size: 1em;"></i>
                            <span style="color:#808080;">{{ mentor.university }}</span>
                        </div>
                        <div><i class="fas fa-comment mr-3" style="color:#a9a9a9; font-size: 1em;"></i>
                            <span style="color:#808080;">{{ mentor.faculty }}</span>
                        </div>
                        <div><i class="fas fa-comment mr-3" style="color:#a9a9a9; font-size: 1em;"></i>
                            <span style="color:#808080;">{{ mentor.graduation }}</span>
                        </div>
                    </div>
                    <div class="col-2"></div>
                </div>
                
            </div>
        </div>

        {% if mentor.schedule %}
    
        {% for schedule in mentor.schedule %}
    
            <div class="card my-3 mx-auto shadow" id={{schedule.sid}}>
                
                <a href="/reservation/{{schedule.sid}}" class="card-body p-3">
                    <div class="d-flex flex-row">
                        <div class="col-3 px-0 my-auto text-center">
                            <span class="text-dark ">{{ schedule.day }}</span>
                        </div>
                        <div class="col-6 text-center my-auto text-dark">{{ schedule.place }}</div>
                        <div class="col-3 text-center" style="font-size: .7rem;">
                            <i class="far fa-clock text-primary h4 mb-0"></i>
                            <span class="text-dark pl-1">{{ schedule.date }}</span>
                        </div>
                    </div>
                </a>
                
            </div>
            
        {% endfor %}
        {% else %}
            <div class="text-secondary text-center mt-3">スケジュールがありません</div>
        {% endif %}
        
    </div>
</div>

{% endblock content %} 