{% extends "layout.html" %} 

{% block css %}

{% endblock %}

{% block title %}
<title>Preshot/Profile</title>
{% endblock %} 

{% block content %}


<div class="container">
    <div class="container mt-5">
        <div class="panel panel-primary">
            <div class="panel-heading text-secondary">現在のメールアドレス</div>
            <div class="panel-body mt-2 border-bottom">
                {{ data["email"] }}
            </div>
        </div>
        <div class="panel panel-primary mt-3">
            <div class="panel-heading text-secondary">現在のパスワード</div>
            <div class="panel-body mt-2 border-bottom">
                {{ data["password"] }}
            </div>
        </div>
        <div class="d-flex justify-content-center login_container mt-5">
            <button type="submit" class="border-0 shadow btn-group-lg text-white bg-preshot btn-block" style="height: 40px;" data-toggle="modal" data-target="#mentorstaticBackdrop">このアカウントを削除する</button>
        </div>
    </div>
</div>

<!-- モーダルの設定 -->
<div class="modal fade" id="mentorstaticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="mentorstaticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content shadow-lg w-75">
            <div class="modal-body">
                
                <p class="modal-title pl-2" id="mentorstaticBackdropLabel">本当に削除しますか？</p>
                
                <div class="mt-4 p-2 float-right">
                    <button type="button" class="pr-3" style="font-size: .9rem;" onclick="location.href='./delete'">はい</button>
                    <button type="button" class="pr-2 text-dark" data-dismiss="modal" style="font-size: .9rem;">いいえ</button>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %} 
