{% extends "layout.html" %} {% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}"> {% endblock %} {% block title %}
<title>Preshot/Profile</title>
{% endblock %} 

{% block content %}

        <!-- profile画面 -->
<div>
    <div>
        <div>
            <p> 現在のemail - {{ data["email"] }}</p>
        </div>
        <div>
            <p> 現在のパスワード - {{ data["password"] }}</p>
        </div>
        <div>
            <button type="submit" onclick="submit_entry();">アカウントを削除</button>
        </div>
    </div>
</div>

{% endblock content %} 

{% block script %}
<script>
    function submit_entry() {

        var id = window.sessionStorage.getItem(['uid']);

        var entry = {
            uid: uid.value,
        }

        fetch(`${window.origin}/profile/${uid}`, {
                method: "DELETE",
                credentials: "include",
                body: JSON.stringify(entry),
                cache: "no-cache",
                headers: new Headers({
                    "content-type": "application/json"
                })
            })
            .then(function(response) {

                if (response.status != 200) {
                    console.log(`response status was not 200: ${response.status}`);
                    return;
                }

                response.json().then(function(data) {
                    location.reload();
                    console.log(data)
                })
            })
    }
</script>
{% endblock %}